<%- include('includes/head.ejs') %>

<div class="container">
  <h1><%= title %></h1>
  <form id="user-form" action="/api/users" method="post">
    <h3>Create a New User</h3>
    <p><code>POST /api/users</code></p>
    <input id="uname" type="text" maxlength="30" minlength="3" name="username" placeholder="username" required />
    <input type="submit" value="Submit" />
  </form>
  <form id="exercise-form" method="post">
    <h3>Add exercises</h3>
    <p><code>POST /api/users/:_id/exercises</code></p>
    <input id="uid" type="text" name=":_id" placeholder=":user_id*" required />
    <input id="desc" type="text" maxlength="30" minlength="3" name="description" placeholder="description*" required />
    <input id="dur" type="number" min="1" max="60" name="duration" placeholder="duration* (mins.)" required />
    <input id="date" name="date" placeholder="yyyy-mm-dd" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))" />
    <input type="submit" value="Submit" />
  </form>
  <p>
    <strong>GET user's exercise log: </strong>
    <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
  </p>
  <p><strong>[ ]</strong> = optional</p>
  <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
</div>
<script>
  // submit exercise form
  const exerciseForm = document.getElementById('exercise-form');

  exerciseForm.addEventListener('submit', () => {
    const userId = document.getElementById('uid').value;
    exerciseForm.action = `/api/users/${userId}/exercises`;

    event.preventDefault();
    exerciseForm.submit();
    exerciseForm.reset();
  });

  // submit user form
  const userForm = document.getElementById('user-form');

  userForm.addEventListener('submit', () => {
    event.preventDefault();
    userForm.submit();
    userForm.reset();
  });
</script>

<%- include('includes/end.ejs') %>
